<mat-toolbar class="main-header">
  <button (click)="toggleSidenav.emit()" mat-icon-button>
  </button>
  <div class="branding">
    <span [routerLink]="['/']">CK</span>
  </div>
  <button  mat-icon-button class="menu" [routerLink]="['/productos']" >
    PRODUCTOS
  </button>
  <button mat-icon-button class="menu" [routerLink]="['/entidades']">
    ENTIDADES
  </button>
  <button mat-icon-button class="menu" [routerLink]="['/cajas']">
    CAJAS
  </button>
  <button [matMenuTriggerFor]="user" mat-icon-button class="profile">
    <img [src]="photoUsuarioLogueado" width="32px" />
  </button>
  <mat-menu #user="matMenu" x-position="before">
    <button mat-menu-item>
      <mat-icon>settings</mat-icon>
      Settings
    </button>
    <button mat-menu-item>
      <mat-icon>account_box</mat-icon>
      Profile
    </button>
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      Disable notifications
    </button>
    <button mat-menu-item>
      <mat-icon>exit_to_app</mat-icon>
      Sign Out
    </button>
  </mat-menu>
</mat-toolbar>
