  <div fxFlexLayout="row">
    <mat-card class="example-card">
        <mat-card-header>
    
        </mat-card-header>
        <img mat-card-image class="inicial" src="../../assets/images/box.svg" alt="Photo of a Shiba Inu">
       <mat-card-content class="defecto">
            <span  class="cifra">{{totalCajas}}</span>
          <p class="espacio">
            Cajas Preparadas
          </p>
        </mat-card-content>
      </mat-card>
    
      <mat-card class="example-card2">
        <mat-card-header>
    
        </mat-card-header>
        <img mat-card-image class="inicial" src="../../assets/images/weight.svg" alt="Photo of a Shiba Inu">
       <mat-card-content class="defecto">
            <span  class="cifra">{{totalKilogramos}}</span>
          <p class="espacio">
            Kg recaudados
          </p>
        </mat-card-content>
      </mat-card>
    
      <mat-card class="example-card3">
        <mat-card-header>
    
        </mat-card-header>
        <img mat-card-image class="inicial" src="../../assets/images/three-buildings.svg" alt="Photo of a Shiba Inu">
        <mat-card-content class="defecto">
            <span  class="cifra">{{totalEntidades}}</span>
          <p class="espacio">
            Entidades colaboradoras
          </p>
        </mat-card-content>
      </mat-card>
    
      <mat-card class="example-card5">
        <mat-card-header>
    
        </mat-card-header>
        <img mat-card-image class="inicial" src="../../assets/images/picnic-basket.svg" alt="Photo of a Shiba Inu">
        <mat-card-content class="defecto">
            <span  class="cifra">{{total}}</span>
          <p class="espacio">
            Tipos de productos
          </p>
        </mat-card-content>
      </mat-card>
    </div>