.inicial {
    width: 25%;
    margin-left: 5%;
}

.example-card {
    background-color: rgb(240, 230, 95);
}

.example-card2 {
    background-color: rgb(95, 194, 240);
}

.example-card3 {
    background-color: rgb(216, 238, 17);
}

.example-card4 {
    background-color: rgb(236, 116, 186);
}

.example-card5 {
    background-color: rgb(251, 113, 58);
}

.defecto {
    font-size: 130%;
    text-align: center;
}

.espacio {
    margin-top: 10%;
    text-align: center;
}

.cifra {
    font-size: 200%;
}

mat-card {
    width: 30%;
    
}

mat-card-content {
    float: right;
    font-weight: bold;
}
